#cursor > div > div > :last-child::after {
  content: "";
  width: 5px;
  height: 20px;
  background: #bbbbbb;
  display: inline-block;
  animation: cursor-blink 0.9s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
